.duitlingo-widget-body {
    position: fixed; 
    right: 20px; 
    bottom: 64px; 
    width: 400px; 
    height: 600px;  
    z-index: 1000; 
    background: #F7F7F7;
    border: 0.5px solid #C0C5DB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 1.5rem;
}

.duitlingo-widget-body-small {
  position: absolute; 
  right: -30px; 
  bottom: -80px; 
  width: 200px; 
  height: auto;  
  z-index: 1000; 
  background: #F7F7F7;
  border: 0.5px solid #C0C5DB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
fill: #4691f6;
}

.svg-icon circle {
stroke: #4691f6;
stroke-width: 1;
}