.duitlingo-widget-body {
    position: fixed; 
    right: 20px; 
    bottom: 64px; 
    width: 400px; 
    height: 700px;  
    z-index: 1300; 
    background: #F7F7F7;
    border: 3px solid #C0C5DB;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25) !important;
    border-radius: 15px !important;
    padding: 1.5rem;

    /* background: linear-gradient(90deg, #496AE2 0%, #5F9AF3 62.99%, #6FBEFF 86.48%); */
}

.duitlingo-widget-body-small {
  position: absolute; 
  /* right: -30px;  */
  /* bottom: -80px;  */
  width: auto; 
  height: auto;  
  z-index: 1300; 
  background: #F7F7F7;
  border: 2px solid #C0C5DB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.duitlingo-widget-stock-tooltip {
  position: absolute; 
  top: 36px;
  right: -50px;
  /* right: -30px; 
  bottom: -88px;  */
  width: 300px; 
  height: auto;  
  z-index: 1300; 
  border: 0.5px solid #C0C5DB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.widget-font-header {
  font-size: 20px !important;
}

.background-blue-accent-1 {
  background-color: #AAB8EA;
}

.background-blue-accent-3 {
  background-color: #1a9dff;
  /* background-color: #5F9AF3; */
}

.background-blue-accent-4 {
  
  background-color: #496AE2;
}

.blue-accent-4 {
  color: #496AE2;
}

.blue-accent-5 {
  color: #202CA5;
}

.background-purple-accent-4 {
  background-color: #3e4180;
}

.purple-accent-4 {
  color: #3e4180;
}

.red-accent-5 {
  color: #C91821;
}

.background-blue-accent-5 {
  background-color: #202CA5;
}

.background-red-accent-5 {
  
  background-color: #EC5D54;
  /* background-color: #C91821; */
  
}

.background-purple-accent-5 {
  background-color: #512065;
}

.background-gradient-accent-1{
  background: linear-gradient(90deg, #496AE2 0%, #5F9AF3 60%, #6FBEFF 90.48%);
}


.svg-icon {
    width: 1em;
    height: 1em;
  }
  
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
fill: #4691f6;
}

.svg-icon circle {
stroke: #4691f6;
stroke-width: 1;
}